/bin
**/.DS_Store
/dist/*.zip
/dist/install/plain/bundle
/dist/install/plain/felix-cache
/dist/install/plain/*.jar
/dist/install/test
!/dist/install/test/*.sb2
/dist/install/win/bundle
/dist/install/win/felix-cache
/dist/install/win/lib
/dist/install/win/*.jar
/dist/osgi_bundles/*.jar
/dist/library/*.jar
/data
!/data/*.sb2
